/* 
nav{
    background-color: purple !important;
}

.nav-link, .navbar-brand{
    color:white !important;
} */

ion-content{
    --padding-top: 30px;
    --padding-end: 30px;
    --padding-start: 30px;
    
}

/* ion-button{
    color: white;
} */